<!doctype html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<title>Tian Gao - Resume</title>
</head>

<!-- body -->
<body id="top">
	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="#" class="image avatar">
				<img src="{{ url_for('static', filename='images/pic.jpg') }}" alt="" />
			</a>
			<h1><strong>Tian Gao</strong></h1>
			<h1>CQF &#183; Data Scientist</h1>
			<br />
			<p><i>Life sucks when you are ordinary.</i></p>

			<!-- menu -->
			<hr />
			<ul class="menu">
				<li><a href="#education" class="menu">education background</a></li>
				<li><a href="#skill" class="menu">skill sets</a></li>
				<li><a href="#professional" class="menu">professional experience</a></li>
				<li><a href="#extracurricular" class="menu">extracurricular experience</a></li>
				<li><a href="#publication" class="menu">publications</a></li>
				<li><a href="#honors" class="menu">honors &amp awards</a></li>
				<li><a href="#contact" class="menu">contact me</a></li>
			</ul>
			<hr />
		</div>
	</header>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://github.com/tian-gao" target="_blank" class="menu icon fa-github">
					<span class="label">Github</span></a></li>
				<li><a href="https://www.linkedin.com/in/tian-gao" target="_blank" class="menu icon fa-linkedin">
					<span class="label">LinkedIn</span></a></li>
				<li><a href="https://www.facebook.com/TianTroyGao" target="_blank" class="menu icon fa-facebook">
					<span class="label">Facebook</span></a></li>
				<li><a href="mailto:tian.gao@columbia.edu" class="menu icon fa-envelope-o">
					<span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; All rights reserved.</li>
				<li>Design: Tian Gao</li>
			</ul>
		</div>
	</footer>



	<!-- Main -->
	<div id="main">
	
	<!-- about me -->
	<section id="">
		<header class="major">
			<h1>about me</h1>
		</header>
		<p>
			Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.
		</p>
		<br />
		<ul class="actions" style="text-align:center;">
			<li><a href="#education" class="button">Learn More</a></li>
		</ul>
	</section>


	<!-- education -->
	<section id="education">
		<header class="major">
			<h1>education background</h1>
		</header>
		{% for edu in education %}
		<div class='hideshow row'>
			<div class="3u 12u$(small)">  <h4><b>{{edu.period}}</b></h4>		   </div>
			<div class="9u$ 12u$(small) entry"> <h4><strong>{{edu.school}}</strong></h4> </div>
			<div class="3u 12u$(small)">  <h4><b>{{edu.location}}</b></h4>		   </div>
			<div class="9u$ 12u$(small) entry"> <h4><strong>{{edu.degree}}</strong></h4> </div>
			<div class="3u 12u$(small)"><br /></div>
			<ul class="9u$ 12u$(small)">
			    {% for des in edu.description %}
			    	<li class='content content-entry'>{{des}}</li>
			    {% endfor %}
			</ul>
		</div>
		<br />
		{% endfor %}
	</section>


	<!-- skill -->
	<section id="skill">
		<header class="major">
			<h1>skill sets</h1>
		</header>
		<ul class="nav-tabs">
			<li class="active"><a href="#skill">All</a></li>
			<li><a href="#skill">Programming</a></li>
			<li><a href="#skill">Web Framework</a></li>
			<li><a href="#skill">Others</a></li>
		</ul>
		<br />
		<!-- <div>aaa</div> -->
	</section>


	<!-- professional -->
	<section id="professional">
		<header class="major">
			<h1>professional experience</h1>
		</header>
		{% for pro in professional %}
		<div class='hideshow row'>
			<div class="3u 12u$(small)">  <h4><b>{{pro.period}}</b></h4>		   </div>
			<div class="9u$ 12u$(small) entry"> <h4><strong>{{pro.company}}</strong></h4> </div>
			<div class="3u 12u$(small)">  <h4><b>{{pro.location}}</b></h4>		   </div>
			<div class="9u$ 12u$(small) entry"> <h4><strong>{{pro.position}}</strong></h4> </div>
			<div class="3u 12u$(small)"><br /></div>
			<ul class="9u$ 12u$(small)">
			    {% for des in pro.description %}
			    	<li class='content content-entry'>{{des}}</li>
			    {% endfor %}
			</ul>
		</div>
		<br />
		{% endfor %}
	</section>


	<!-- extracurricular -->
	<section id="extracurricular">
		<header class="major">
			<h1>extracurricular experience</h1>
		</header>
		{% for exp in extracurricular %}
		<div class='hideshow row'>
			<div class="3u 12u$(small)">  <h4><b>{{exp.period}}</b></h4>		   </div>
			<div class="9u$ 12u$(small) entry"> <h4><strong>{{exp.company}}</strong></h4> </div>
			<div class="3u 12u$(small)">  <h4><b>{{exp.location}}</b></h4>		   </div>
			<div class="9u$ 12u$(small) entry"> <h4><strong>{{exp.project}}</strong></h4> </div>
			<div class="3u 12u$(small)"><br /></div>
			<div class="9u$ 12u$(small) entry"> 
				<h4 style="color:#666666;">{{exp.position}}</h4> </div>
			<div class="3u 12u$(small)"><br /></div>
			<ul class="9u$ 12u$(small)">
			    {% for des in exp.description %}
			    	<li class='content content-entry'>{{des}}</li>
			    {% endfor %}
			</ul>
		</div>
		<br />
		{% endfor %}
	</section>


	<!-- publications -->
	<section id="publication">
		<header class="major">
			<h1>publications</h1>
		</header>		
		<div class='hideshow row'>
			{% for pub in publications %}
				<div class="3u 12u$(small)"> <h4>{{pub.author}}</h4> </div>
				<div class="9u 12u$(small)">
					<h4><a href="{{pub.link}}" target="_blank">{{pub.article}}</a></h4>
				</div>
				<div class="3u 12u$(small)"> <br /> </div>
				<div class="9u 12u$(small)"> <h4 style="color:#666666;">{{pub.journal}}</h4> </div>
				<div class="12u$ 12u$(small)"> <br /> </div>
			{% endfor %}
		</div>
	</section>


	<!-- honors -->
	<section id="honors">
		<header class="major">
			<h1>honors &amp awards</h1>
		</header>
		{% for hon in honors %}
		<div class='hideshow row'>
			<div class="3u 12u$(small)">  <h4><b>{{hon.category}}</b></h4>		   </div>
			<div class="9u$ 12u$(small) entry"> <h4><strong>{{hon.honor}}</strong></h4> </div>
			<div class="3u 12u$(small)">  <h4 style="color:#666666;">{{hon.time}}</h4> </div>
			<div class="9u$ 12u$(small) entry"> <h4 style="color:#666666;">{{hon.description}}</h4> </div>
		</div>
		<br />
		{% endfor %}	
	</section>


	<!-- contact -->
	<section id="contact">
		<header class="major">
			<h1>contact me</h1>
		</header>
		<p>
			See <a href="#footer">sidebar</a> for social network information, 
			or leave a message below.
		</p>
		<br />
		
		<form method="post" action="#">
			<div class="row uniform 100%">
				<div class="6u 12u$(small)">
					<input type="text" name="name" id="name" placeholder="Name" />
				</div>
				<div class="6u$ 12u$(small)">
					<input type="email" name="email" id="email" placeholder="Email" />
				</div>
				<div class="12u$">
					<textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
				</div>
			</div>
		</form>
		<ul class="actions" style="text-align:right;">
			<li><input type="submit" value="Send Message" id="send" /></li>
		</ul>
	</section>

	</div>



<!-- end body -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	$('.content').hide();
	jQuery('.hideshow').on('click', function(event) {
		var $this = $(this).find('.content');
		$this.toggle('show');
	});
	
	var $tabs = $('.nav-tabs').find('li');
	$tabs.on('click', function(event) {
		$('.nav-tabs').find('.active').toggleClass('active');
		jQuery(this).toggleClass('active');
	})
});
</script>
</body>
</html>